/*********
  BODY
*********/

body {
    background-color: black;
    color: #dddddd;
}


/************
   NAV BAR
************/

/*nav {*/
/*    background: black !important;*/
/*}*/


/*****************
   HEADER IMAGE
*****************/

.masthead {
    height: 80vh;
    /*min-height: 500px;*/
    background-image: url('images/femaleTattooArtistBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3.5em;
}

#silentH:hover {
    color: #7fc6c4;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
}


/*************************
  ARTIST DIRECTORY CARDS
*************************/

.card {
    background-color: black;
    color: #dddddd;
}

@media screen and (max-width: 450px) {
    img {
        margin-bottom: 1.5rem;
    }

    .card-alignment {
        text-align: center;
    }

    .card {
        margin-bottom: 2em;
    }
}

#name {
    font-size: 2.2em;
    font-family: 'Permanent Marker', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

#shop {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

#specialties {
    color: #7fc6c4;
    font-size: 1em;
    font-style: italic;
}

#iconPadding {
    padding-right: .8em;
    padding-left: .8em;
}

/*images are already sized to 35x35, but this needs to stay because of the img styling below */
.icons {
    width: 35px;
    height: 35px;
}

/* artist images were too blurry after being cropped and resized in 3rd party programs -- setting this style to ensure consistent sizing*/
img {
    width: 300px;
    height: 300px;
}


/*********
  LINKS
*********/

a {
    text-decoration: none;
}

a:link {
    color: #dddddd;
}

a:visited {
    color: #dddddd;
}

a:hover {
    color: #7fc6c4;
}



/***********
   FOOTER
***********/

footer {
    margin-top: 7em;
    margin-bottom: 2em;
}

.footerIcons {
    width: 25px;
    height: 25px;
    margin-left: .5em;
    margin-right: .5em;
}