/*********
  BODY
*********/

body {
    background-color: black;
    color: white;
}

/*****************
   HEADER IMAGE
*****************/

.masthead {
    height: 80vh;
    /*min-height: 500px;*/
    background-image: url('images/femaleTattooArtistBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*********************
  SPINNING ASTERISK
*********************/

/* MEDIA QUERIES ARE STOPPING ROTATE ANIMATION ON MOBILE AND TABLET -- DOESN'T WORK WITHOUT !IMPORTANT */
@media screen and (max-width: 450px) {
    .rotating {
        animation: none !important;
    }
    .rotating:hover {
        height: auto !important;
    }
}

@media screen and (max-width: 1024px) {
    .rotating {
        animation: none !important;
    }
    .rotating:hover {
        height: auto !important;
    }
}

.rotating:hover {
    /* HEIGHT AFFECTS ROTATION RADIUS */
    height: 4.2rem;
    display:inline-block;
    color: turquoise;
}
@keyframes rotate {
    from {transform:rotate(0deg); }
    to {transform:rotate(360deg); }
}

.rotating {
    transform-origin: center center;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*********
  CARDS
*********/

.card {
    background-color: black;
    color: white;
}

@media screen and (max-width: 450px) {
    img {
        margin-bottom: 1.5rem;
    }

    #card-alignment {
        text-align: center;
    }
}

/* ADDS SPACING BETWEEN SPECIALTIES VALUES */
.card-text {
    margin-right: 0.25rem;
}

h5 {
    padding-bottom: .4em;
}

/****************
  BULLET POINTS
****************/

/*.inline {*/
/*    display: inline;*/
/*}*/


/*********
  LINKS
*********/

a {
    text-decoration: none;
}

a:link {
    color: turquoise;
}

a:visited {
    color: turquoise;
}

a:hover {
    color: hotpink;
}


/***********
   FOOTER
***********/

footer {
    margin-top: 7em;
    margin-bottom: 2em;
}