/* BODY */

body {
    background-color: #1b1a1a;
    color: white;
}

/* HEADER IMAGE */

.masthead {
    height: 80vh;
    /*min-height: 500px;*/
    background-image: url('images/femaleTattooArtistBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CARDS */

.card {
    background-color: #1b1a1a;
    color: white;
}

h5 {
    padding-bottom: .4em;
}

/* BULLET POINTS */

li {
    margin-left: 3em;
}

/* LINKS */

a {
    text-decoration: none;
}

a:link {
    color: turquoise;
}

a:visited {
    color: turquoise;
}

a:hover {
    color: hotpink;
}